@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["ClassroomSize"] = Model.Classroom.Columns * Model.Classroom.Rows;
    
}


<div class="text-center">
    <h1 class="display-4">Classroom</h1>
    <p>
        Loaded classroom info:
    </p>
    <dl class="mx-auto" style="width:250px;">
        <dt>Size: @ViewData["ClassroomSize"]</dt>
        <dd>@Model.Classroom.Columns columns x @Model.Classroom.Rows rows</dd>
        <dt>Periods:</dt>
        <dd>@Model.Classroom.Periods</dd>
        <dt>
            <ul>
                @foreach(var period in @Model.Rosters) {
                    <strong>Period @period.Period</strong>
                       
                    foreach(var name in period.SortedNames) {
                        <li>@name</li>
                    }
                
                }
            </ul>
        </dt>
    </dl>
</div>
